:root {
  --primary-color: #778899;
  --error-color: #f85032;
  --text-color: #0d0d0d;
  --transition: all ease-in-out 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}